@page "/serverStream"
@using System.Threading
@using System.Globalization
@implements IDisposable
@inject IScreenshotService Screenshots

@{
    _fps.AddFrame();
    var fps = _fps.Value.ToString("N1");
    var src = "data:image/jpeg;base64," + Convert.ToBase64String(_screenshot.Data);
}
<style>
.fps {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 10px;
    font-size: 1.5rem;
    color: white
}
.screencast-img {
    width: 100%;
    aspect-ratio: 16 / 9;
    display: block;
    object-fit: contain;
}
</style>

<h1>Screencast - via ActualLab.Rpc (RpcStream)</h1>

<Addons>
    <Addon AddonType="AddonType.Start"><AddonLabel>Screenshot width (in pixels):</AddonLabel></Addon>
    <TextEdit @bind-Text="EditableWidth" type="search" />
    @if (Width != ParsedWidth.ToString(CultureInfo.InvariantCulture)) {
        <Addon AddonType="AddonType.End"><AddonLabel>(actual width: @ParsedWidth)</AddonLabel></Addon>
    }
</Addons>

<Paragraph Margin="Margin.Is3.OnY" Style="position: relative">
    <span class="fps">FPS: <b>@fps</b></span>
    <img class="screencast-img" src="@src" alt="Server screen"/>
</Paragraph>

@code {
    private readonly FpsCounter _fps = new();
    private CancellationTokenSource? _stopCts;
    private Screenshot _screenshot = new();

    private string EditableWidth {
        get;
        set {
            field = value;
            RestartStreaming();
        }
    } = "";

    private int ParsedWidth
        => Math.Max(8, Math.Min(1920, int.TryParse(EditableWidth, out var v) ? v : 0));

    [Parameter] public string Width { get; set; } = "1280"; // Parameter changes trigger InvalidateState() by default

    public void Dispose()
        => _stopCts.CancelAndDisposeSilently();

    protected override void OnInitialized()
    {
        EditableWidth = Width;
        RestartStreaming();
    }

    private void RestartStreaming()
    {
        _stopCts.CancelAndDisposeSilently();
        _stopCts = new CancellationTokenSource();
        _screenshot = new();
        StateHasChanged();
        var width = ParsedWidth;
        var cancellationToken = _stopCts.Token;
        _ = Task.Run(async () => {
            while (!cancellationToken.IsCancellationRequested) {
                try {
                    Console.WriteLine("Getting new real-time stream...");
                    var screenshots = await Screenshots.StreamScreenshots(width, cancellationToken).ConfigureAwait(false);
                    await foreach (var screenshot in screenshots.WithCancellation(cancellationToken).ConfigureAwait(false)) {
                        _ = InvokeAsync(() => {
                            _screenshot = screenshot;
                            StateHasChanged();
                        }).ConfigureAwait(false);
                    }
                }
                catch {
                    // Retrying until cancellation
                    await Task.Delay(250, cancellationToken).ConfigureAwait(false);
                }
            }
        }, cancellationToken);
    }
}
